<div>
    <table>
        <thead>
        <tr>
            <th v-for="column in gridColumns">{{column}}</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="userInformation in userList">
            <td v-for="column in gridColumns">{{userInformation[column]}}</td>
            <td class="actionsTd">
                <span  @click="deleteUser(userInformation.id)"
                        class="actionsText --delete">Eliminar</span>
                <span v-if="!userInformation.isStaff && !userInformation.isSuperuser"
                      class="actionsText --staff"
                      @click="givePermissions(userInformation.id,'staff')"
                >Permisos Staff</span>
                <span v-if="!userInformation.isSuperuser"
                      class="actionsText --superUser"
                      @click="givePermissions(userInformation.id,'superUser')"
                >Permisos Super usuario</span>
            </td>
        </tr>
        </tbody>
    </table>
</div>


