<div class="fileUploaderContainer">
    <div class="wrapper">
        <h2>Nueva nota</h2>
        <form @submit="saveNote()">
            <input type="text"
                   class="input"
                   placeholder="Nombre"
                   v-model="name"
                   minlength="1"
                   maxlength="250"
                   required
            >
            <textarea
                    v-model="note"
                    cols="50"
                    rows="10"
                    placeholder="Nota"
                    class="textArea"
                    minlength="1"
                    maxlength="250"
                    required
            ></textarea>
            <input type="file"
                   id="img"
                   name="image"
                   accept="image/*"
                   @change="dataImage"
                   required
            >
            <button class="primaryButton">Crear nota</button>
        </form>
        <button @click="closeModal" class="secondaryButton">Cancelar</button>

    </div>
</div>
