<div class="notesViewContainer">
    <div v-if="showNotes"
         v-for="notes in myNotesList"
         class="note"
    >
<!-- if in development mode change to this url http://127.0.0.1:8000/media/-->
        <div :style="{backgroundImage: `url(https://storage.googleapis.com/alacarta-media/${notes.image})`}"
             class="noteImage"></div>
        <h2 class="title">
            {{notes.name}}
        </h2>
        <div class="descriptionText">
            {{notes.note}}
        </div>
    </div>
    <div v-if="!showNotes">
        NO HAY NOTAS
    </div>
</div>
