<div>
    <button class="primaryButton"
            @click="toggleModal"
    >
        Crear una nota
    </button>
    <UserTable
            class="table"
            v-if="role === 'superUser'"
    ></UserTable>
    <NoteModal v-if="showFileModal"
               @closeModal="toggleModal"
    ></NoteModal>
    <div v-if="tokenPayload">
        <h2>Mi token</h2>
        <p>Este token va a ser utilizado por cada request que hagas al servidor.</p>
        <pre>{{tokenPayload}}</pre>
    </div>
</div>
