<div class="loginContainer">

    <input type="text"
           required
           placeholder="nombre"
           v-model="userName"
           class="input"
    >
    <input type="password"
           required
           placeholder="contraseña"
           v-model="password"
           class="input"
    >
    <p>{{formErrors}}</p>
    <button class="button" @click="login()">Login</button>
    <span>¿No estás registrado? <b class="toRegister" @click="showRegister">Registrate</b></span>
</div>
