<div class="loginContainer">
    <form  @submit.prevent="login()">
        <input type="email"
               required="true"
               placeholder="Email"
               v-model="userName"
               class="input"
        >
        <input type="password"
               required
               placeholder="Contraseña"
               v-model="password"
               class="input"
        >
        <p>{{formErrors}}</p>
        <button class="primaryButton">Login</button>
    </form>

    <span>¿No estás registrado? <b class="toRegister" @click="showRegister">Registrate</b></span>
</div>
