@import '../../styles/_index.scss';

.registerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.input {
  width: 467px;
  height: 55px;
  border-radius: 4px;
  border: solid 1px #252d4c;
  margin-bottom: 15px;
}

.button {
  background-color: $PRMARYCOLOR;
  width: 312px;
  height: 55px;
  color: white;
  font-weight: bold;
  border-radius: 8px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.3);
}
