<div class="header">
    <header class="">
        <div class="headerIconsContainer">
            <div class="burgerIconContainer"
                 @click="toggleMenu()"
            >
                <img src="../../assets/BurguerMenu.svg">
            </div>

        </div>
        <nav class="headerContainer"
             :class="{'--active': showMenu}"
        >
            <span @click="toggleMenu()"
                  class="crossIcon">
                <img class="crossIconContainer"
                     src="../../assets/cross.svg"
                >
            </span>
            <div class="optionsContainer">
                <router-link
                        v-if="isHome"
                        class="header-action"
                        to="/"
                >Home
                </router-link>
                <router-link @click.native="toggleMenu()"
                             class="header-action"
                             to="/mis-notas">Mis notas
                </router-link>
                <button class="secondaryButton" @click="logout">Logout</button>
            </div>
        </nav>
    </header>
</div>
